version: "3.8"

services:
  node-app:
    build: .
    container_name: node-app
    ports:
      - "8098:3000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/mydb
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"

